@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <div class="card-box">
        <a href="/EventManage/EventInfoManage" class="btn btn-primary">事件管理</a>
        <a href="/EventManage/PolicyInfoManage" class="btn btn-primary">策略管理</a>        
        <a href="/LogManage/FengKongLogList" class="btn btn-primary">风控日志</a>
    </div>
</div>